In [56]:
import pandas as pd
import re

In [97]:
df = pd.read_csv("nyc.csv")
del df['Unnamed: 0']

In [98]:
df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,65,NaN,A1,4455 PARK AVENUE,NaN,...,1.0,0.0,1.0,1622.0,1587.0,1899.0,1,A1,458000,2020-01-31
1,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,67,NaN,A1,4451 PARK AVENUE,NaN,...,1.0,0.0,1.0,1646.0,1495.0,1899.0,1,A1,275000,2020-03-16
2,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,70,NaN,A1,4445 PARK AVENUE,NaN,...,1.0,0.0,1.0,1694.0,1497.0,1899.0,1,A1,388500,2019-07-23
3,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,29,NaN,A9,2327 WASHINGTON AVENUE,NaN,...,1.0,0.0,1.0,1095.0,1260.0,1910.0,1,A9,110000,2019-12-06
4,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,29,NaN,A9,2327 WASHINGTON AVE,NaN,...,1.0,0.0,1.0,1095.0,1260.0,1910.0,1,A9,165000,2020-03-02
5,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3046,39,NaN,A1,2075 BATHGATE AVENUE,NaN,...,1.0,0.0,1.0,1986.0,1344.0,1899.0,1,A1,420000,2019-05-24
6,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,130,NaN,B1,482 CLAREMONT PARKWAY,NaN,...,2.0,0.0,2.0,2000.0,2400.0,1993.0,1,B1,0,2020-03-17
7,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,137,NaN,B1,496 CLAREMONT PARKWAY,NaN,...,2.0,0.0,2.0,2000.0,2400.0,1993.0,1,B1,0,2019-06-12
8,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,149,NaN,B1,523 EAST 171 STREET,NaN,...,2.0,0.0,2.0,2000.0,2400.0,1993.0,1,B1,505000,2019-11-14
9,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,152,NaN,B1,517 EAST 171 STREET,NaN,...,2.0,0.0,2.0,2000.0,2400.0,1993.0,1,B1,630000,2019-08-20
10,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2927,119,NaN,B1,1497 CROTONA PLACE,NaN,...,2.0,0.0,2.0,1900.0,2394.0,1994.0,1,B1,535000,2019-05-08
11,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2929,128,NaN,B1,559 CLAREMONT PARKWAY,NaN,...,2.0,0.0,2.0,2361.0,2394.0,1995.0,1,B1,0,2020-02-26
12,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3027,26,NaN,B2,414 EAST 178 STREET,NaN,...,2.0,0.0,2.0,2000.0,2364.0,1899.0,1,B2,365000,2019-11-21
13,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3030,61,NaN,B3,4467 PARK AVENUE,NaN,...,2.0,0.0,2.0,1556.0,1494.0,1899.0,1,B3,310000,2019-04-24
14,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3034,138,NaN,B1,1937 WASHINGTON AVE,NaN,...,2.0,0.0,2.0,2250.0,3204.0,1995.0,1,B1,645000,2020-01-28
15,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3037,32,NaN,B3,455 EAST 180 STREET,NaN,...,2.0,0.0,2.0,1826.0,1296.0,1899.0,1,B3,1,2019-04-30
16,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3039,159,NaN,B1,476 EAST 186 STREET,NaN,...,2.0,0.0,2.0,2033.0,2400.0,1997.0,1,B1,640000,2019-04-24
17,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3045,110,NaN,B1,2044 BATHGATE AVE,NaN,...,2.0,0.0,2.0,2785.0,2565.0,1998.0,1,B1,610000,2019-06-28
18,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3046,54,NaN,B2,2043 BATHGATE AVENUE,NaN,...,2.0,0.0,2.0,2483.0,1512.0,1901.0,1,B2,461370,2020-01-27
19,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3050,39,NaN,B2,2249 BASSFORD AVENUE,NaN,...,2.0,0.0,2.0,899.0,1716.0,1901.0,1,B2,500000,2019-09-19
20,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3050,64,NaN,B2,506 EAST 183 STREET,NaN,...,2.0,0.0,2.0,1316.0,2112.0,1901.0,1,B2,477134,2019-08-01
21,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3050,90,NaN,B2,505 EAST 182 STREET,NaN,...,2.0,0.0,2.0,1960.0,2278.0,1901.0,1,B2,360000,2019-08-19
22,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3053,4,NaN,B1,507 EAST 183 STREET,NaN,...,2.0,0.0,2.0,1380.0,2805.0,1901.0,1,B1,440000,2019-10-24
23,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3053,5,NaN,B9,509 EAST 183RD STREET,NaN,...,2.0,0.0,2.0,1420.0,2805.0,1901.0,1,B9,649500,2019-08-23
24,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3053,7,NaN,B2,2306 BASSFORD AVENUE,NaN,...,2.0,0.0,2.0,2085.0,3374.0,1901.0,1,B2,370000,2019-04-24
25,2,BATHGATE,03 THREE FAMILY DWELLINGS,1,2903,106,NaN,C0,3818 PARK AVENUE,NaN,...,3.0,0.0,3.0,3090.0,3402.0,2003.0,1,C0,10,2020-01-15
26,2,BATHGATE,03 THREE FAMILY DWELLINGS,1,2918,5,NaN,C0,1872 WASHINGTON AVE,NaN,...,3.0,0.0,3.0,1963.0,2970.0,1910.0,1,C0,495000,2019-04-17
27,2,BATHGATE,03 THREE FAMILY DWELLINGS,1,3029,28,NaN,C0,2092 WEBSTER AVENUE,NaN,...,3.0,0.0,3.0,2122.0,3510.0,1899.0,1,C0,0,2019-09-04
28,2,BATHGATE,03 THREE FAMILY DWELLINGS,1,3030,158,NaN,C0,412 EAST 183RD STREET,NaN,...,3.0,0.0,3.0,1978.0,3654.0,2005.0,1,C0,0,2020-02-26
29,2,BATHGATE,03 THREE FAMILY DWELLINGS,1,3031,145,NaN,C0,412 EAST 187 STREET,NaN,...,3.0,0.0,3.0,1784.0,2302.0,2004.0,1,C0,0,2020-02-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81454,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,96,NaN,B9,43 SHARROTTS LANE,NaN,...,2.0,0.0,2.0,2810.0,1885.0,1997.0,1,B9,633000,2019-05-14
81455,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,125,NaN,B9,57 SHARROTTS LANE,NaN,...,2.0,0.0,2.0,5511.0,2170.0,1998.0,1,B9,0,2019-10-02
81456,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,202,NaN,B9,30 HEMLOCK LANE,NaN,...,2.0,0.0,2.0,3801.0,2704.0,1996.0,1,B9,0,2019-07-10
81457,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,211,NaN,B9,14 HEMLOCK LANE,NaN,...,2.0,0.0,2.0,2568.0,2704.0,1996.0,1,B9,650000,2019-08-29
81458,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,231,NaN,B2,51 WHITE OAK LANE,NaN,...,2.0,0.0,2.0,6525.0,2700.0,1996.0,1,B2,662500,2020-01-06
81459,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7267,237,NaN,B9,37 SPRUCE LANE,NaN,...,2.0,0.0,2.0,2565.0,2700.0,1996.0,1,B9,0,2019-11-18
81460,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,25,NaN,B9,36 DARNELL LANE,NaN,...,2.0,0.0,2.0,3183.0,1300.0,1996.0,1,B9,425000,2020-02-24
81461,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,49,NaN,B9,140 SHARROTTS ROAD,NaN,...,2.0,0.0,2.0,2680.0,1420.0,1996.0,1,B9,555000,2019-12-03
81462,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,61,NaN,B9,178 DARNELL LANE,NaN,...,2.0,0.0,2.0,3215.0,1300.0,1995.0,1,B9,645000,2019-07-26
81463,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,69,NaN,B9,161 DARNELL LANE,NaN,...,2.0,0.0,2.0,3147.0,1300.0,1995.0,1,B2,0,2019-06-13
81464,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,71,NaN,B9,157 DARNELL LANE,NaN,...,2.0,0.0,2.0,3130.0,1500.0,1995.0,1,B9,0,2020-01-02
81465,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,71,NaN,B9,157 DARNELL LANE,NaN,...,2.0,0.0,2.0,3130.0,1500.0,1995.0,1,B9,608000,2020-02-28
81466,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,84,NaN,B9,57 DARNELL LANE,NaN,...,2.0,0.0,2.0,2311.0,1500.0,1995.0,1,B2,620000,2019-06-20
81467,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,89,NaN,B9,131 DARNELL LANE,NaN,...,2.0,0.0,2.0,3011.0,1300.0,1995.0,1,B2,0,2019-07-11
81468,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7317,28,NaN,B9,36 MANDY COURT,NaN,...,2.0,0.0,2.0,2379.0,1760.0,1998.0,1,B9,615000,2019-07-10
81469,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7317,110,NaN,B9,27 ROBIN COURT,NaN,...,2.0,0.0,2.0,7200.0,2160.0,1994.0,1,B9,665000,2019-11-18
81470,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7317,119,NaN,B2,73 ROBIN COURT,NaN,...,2.0,0.0,2.0,4125.0,2160.0,1994.0,1,B2,625000,2019-05-21
81471,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7317,143,NaN,B9,64 ROBIN COURT,NaN,...,2.0,0.0,2.0,3380.0,2400.0,1994.0,1,B9,675000,2019-11-04
81472,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7317,155,NaN,B9,38 ROBIN COURT,NaN,...,2.0,0.0,2.0,3990.0,2160.0,1994.0,1,B9,534072,2020-01-21
81473,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7317,155,NaN,B9,38 ROBIN COURT,NaN,...,2.0,0.0,2.0,3990.0,2160.0,1994.0,1,B9,1000,2019-08-01
81474,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,26,NaN,B9,63 QUAIL LANE,NaN,...,2.0,0.0,2.0,2560.0,2200.0,1998.0,1,B9,644000,2019-07-03
81475,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,35,NaN,B2,15 PITNEY AVENUE,NaN,...,2.0,0.0,2.0,5927.0,1920.0,2000.0,1,B2,0,2019-07-22
81476,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7355,68,NaN,B9,62 AMBASSADOR LA,NaN,...,2.0,0.0,2.0,2340.0,2160.0,2001.0,1,B9,610000,2019-08-06
81477,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7355,85,NaN,B9,104 AMBASSADOR LANE,NaN,...,2.0,0.0,2.0,2730.0,2565.0,2001.0,1,B9,625000,2019-07-30
81478,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7355,90,NaN,B9,117 AMBASSADOR LANE,NaN,...,2.0,0.0,2.0,7200.0,1710.0,2001.0,1,B9,0,2019-12-31
81479,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7355,95,NaN,B9,115 AMBASSADOR LANE,NaN,...,2.0,0.0,2.0,8846.0,1710.0,2001.0,1,B9,637500,2019-08-20
81480,5,WOODROW,05 TAX CLASS 1 VACANT LAND,1,7094,48,NaN,B9,108 BERKSHIRE LANE,NaN,...,2.0,0.0,2.0,0.0,0.0,2018.0,1,V0,599701,2019-04-24
81481,5,WOODROW,05 TAX CLASS 1 VACANT LAND,1,7094,49,NaN,B9,35 WILTSHIRE LANE,NaN,...,2.0,0.0,2.0,0.0,0.0,2018.0,1,V0,896060,2019-04-22
81482,5,WOODROW,05 TAX CLASS 1 VACANT LAND,1B,7349,28,NaN,V0,N/A QUAIL LANE,NaN,...,0.0,0.0,0.0,2640.0,0.0,NaN,1,V0,26000,2019-08-22
81483,5,WOODROW,06 TAX CLASS 1 - OTHER,1,7267,129,NaN,G0,22 CLAY PIT ROAD,NaN,...,0.0,0.0,0.0,7920.0,0.0,2011.0,1,G0,0,2019-05-22

In [99]:
names = list(map(lambda x: x.replace('\n','').replace(' ',"_"), df.columns))

In [100]:
dictionary = dict(zip(df.columns.tolist(), names))

In [102]:
df.rename(dictionary, axis='columns', inplace=True)

In [104]:
df.drop(df[df['SALE_PRICE']=='0'].index, inplace=True)

/Users/rainyleon/anaconda3/lib/python3.6/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [105]:
lst = ['A1','A2','A4','A5', 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
'D0',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D6',
 'D7',
 'D8',
 'D9',
'L1','L2','L3','L8','L9',
'R1','R2','R3','R4','R5','R6','R7','R8',
'H','RH','A3', 'A6','A7','A9',
       'B1',
 'B2',
 'B3',
 'B9','CM'
]

In [106]:
df.shape

(81484, 21)

In [107]:
df = df[df.BUILDING_CLASS_AT_TIME_OF_SALE.isin(lst)]

In [108]:
df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [109]:
len(set(df))

21

In [110]:
prop_cat = []
for t in df.BUILDING_CLASS_AT_TIME_OF_SALE.tolist():
    if t == 'CM':
        prop_cat.append('other')
    elif t.find('H') != -1:
        prop_cat.append('Hotel')
    elif t in ["A3","A6","A7","A9"] or t.find('B') != -1:
        prop_cat.append('House')
    else:
        prop_cat.append('Apartment')

In [111]:
df['prop_cat'] = prop_cat

/Users/rainyleon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [112]:
df.shape

(67041, 22)

In [114]:
df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE', 'prop_cat'],
      dtype='object')

In [116]:
df = df[['ZIP_CODE', 'LAND_SQUARE_FEET', 'YEAR_BUILT', 'prop_cat', "SALE_PRICE"]]

In [117]:
df

       ZIP_CODE  LAND_SQUARE_FEET  YEAR_BUILT   prop_cat  SALE_PRICE
0       10457.0            1622.0      1899.0  Apartment      458000
1       10457.0            1646.0      1899.0  Apartment      275000
2       10457.0            1694.0      1899.0  Apartment      388500
3       10458.0            1095.0      1910.0      House      110000
4       10458.0            1095.0      1910.0      House      165000
5       10457.0            1986.0      1899.0  Apartment      420000
6       10457.0            2000.0      1993.0      House           0
7       10457.0            2000.0      1993.0      House           0
8       10457.0            2000.0      1993.0      House      505000
9       10457.0            2000.0      1993.0      House      630000
10      10456.0            1900.0      1994.0      House      535000
11      10457.0            2361.0      1995.0      House           0
12      10457.0            2000.0      1899.0      House      365000
13      10457.0            1556.0      1899.0      House      310000
14      10457.0            2250.0      1995.0      House      645000
15      10457.0            1826.0      1899.0      House           1
16      10458.0            2033.0      1997.0      House      640000
17      10457.0            2785.0      1998.0      House      610000
18      10457.0            2483.0      1901.0      House      461370
19      10457.0             899.0      1901.0      House      500000
20      10458.0            1316.0      1901.0      House      477134
21      10457.0            1960.0      1901.0      House      360000
22      10458.0            1380.0      1901.0      House      440000
23      10458.0            1420.0      1901.0      House      649500
24      10458.0            2085.0      1901.0      House      370000
46      10457.0            3567.0      1899.0  Apartment      462615
47      10456.0            2500.0      1931.0  Apartment     1800000
48      10458.0            4779.0      1912.0  Apartment           0
49      10458.0            4787.0      1912.0  Apartment           0
50      10458.0            4336.0      1909.0  Apartment     1400000
...         ...               ...         ...        ...         ...
81450   10309.0            4836.0      2017.0      House      778961
81451   10309.0            3878.0      2017.0      House      763688
81452   10309.0            3878.0      2017.0      House      787107
81453   10309.0            2898.0      1998.0      House      550000
81454   10309.0            2810.0      1997.0      House      633000
81455   10309.0            5511.0      1998.0      House           0
81456   10309.0            3801.0      1996.0      House           0
81457   10309.0            2568.0      1996.0      House      650000
81458   10309.0            6525.0      1996.0      House      662500
81459   10309.0            2565.0      1996.0      House           0
81460   10309.0            3183.0      1996.0      House      425000
81461   10309.0            2680.0      1996.0      House      555000
81462   10309.0            3215.0      1995.0      House      645000
81463   10309.0            3147.0      1995.0      House           0
81464   10309.0            3130.0      1995.0      House           0
81465   10309.0            3130.0      1995.0      House      608000
81466   10309.0            2311.0      1995.0      House      620000
81467   10309.0            3011.0      1995.0      House           0
81468   10309.0            2379.0      1998.0      House      615000
81469   10309.0            7200.0      1994.0      House      665000
81470   10309.0            4125.0      1994.0      House      625000
81471   10309.0            3380.0      1994.0      House      675000
81472   10309.0            3990.0      1994.0      House      534072
81473   10309.0            3990.0      1994.0      House        1000
81474   10309.0            2560.0      1998.0      House      644000
81475   10309.0            5927.0      2000.0      House           0
81476   10309.0            2340.0      2001.0      House      610000
81477   10309.0            2730.0      2001.0      House      625000
81478   10309.0            7200.0      2001.0      House           0
81479   10309.0            8846.0      2001.0      House      637500

[67041 rows x 5 columns]

In [120]:
df.drop(df[df['SALE_PRICE']<10000].index, inplace=True)

/Users/rainyleon/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [125]:
df = df.dropna()

In [126]:
df.drop(df[df['LAND_SQUARE_FEET'] == 0.0].index, inplace=True)

/Users/rainyleon/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [128]:
set(df.ZIP_CODE)

{10001.0,
 10002.0,
 10003.0,
 10009.0,
 10010.0,
 10011.0,
 10012.0,
 10013.0,
 10014.0,
 10016.0,
 10018.0,
 10019.0,
 10021.0,
 10022.0,
 10023.0,
 10024.0,
 10025.0,
 10026.0,
 10027.0,
 10028.0,
 10029.0,
 10030.0,
 10031.0,
 10032.0,
 10033.0,
 10034.0,
 10035.0,
 10036.0,
 10037.0,
 10038.0,
 10039.0,
 10040.0,
 10065.0,
 10075.0,
 10128.0,
 10301.0,
 10302.0,
 10303.0,
 10304.0,
 10305.0,
 10306.0,
 10307.0,
 10308.0,
 10309.0,
 10310.0,
 10312.0,
 10314.0,
 10451.0,
 10452.0,
 10453.0,
 10454.0,
 10455.0,
 10456.0,
 10457.0,
 10458.0,
 10459.0,
 10460.0,
 10461.0,
 10462.0,
 10463.0,
 10464.0,
 10465.0,
 10466.0,
 10467.0,
 10468.0,
 10469.0,
 10470.0,
 10471.0,
 10472.0,
 10473.0,
 10474.0,
 10475.0,
 11001.0,
 11004.0,
 11040.0,
 11101.0,
 11102.0,
 11103.0,
 11104.0,
 11105.0,
 11106.0,
 11201.0,
 11203.0,
 11204.0,
 11205.0,
 11206.0,
 11207.0,
 11208.0,
 11209.0,
 11210.0,
 11211.0,
 11212.0,
 11213.0,
 11214.0,
 11215.0,
 11216.0,
 11217.0,
 11218.0,
 11219.0,
 11220.0,
 11221.0,
 11222.0,
 11223.0,
 11224.0,
 11225.0,
 11226.0,
 11228.0,
 11229.0,
 11230.0,
 11231.0,
 11232.0,
 11233.0,
 11234.0,
 11235.0,
 11236.0,
 11237.0,
 11238.0,
 11239.0,
 11249.0,
 11354.0,
 11355.0,
 11356.0,
 11357.0,
 11358.0,
 11360.0,
 11361.0,
 11362.0,
 11363.0,
 11364.0,
 11365.0,
 11366.0,
 11367.0,
 11368.0,
 11369.0,
 11370.0,
 11372.0,
 11373.0,
 11374.0,
 11375.0,
 11377.0,
 11378.0,
 11379.0,
 11385.0,
 11411.0,
 11412.0,
 11413.0,
 11414.0,
 11415.0,
 11416.0,
 11417.0,
 11418.0,
 11419.0,
 11420.0,
 11421.0,
 11422.0,
 11423.0,
 11426.0,
 11427.0,
 11428.0,
 11429.0,
 11432.0,
 11433.0,
 11434.0,
 11435.0,
 11436.0,
 11691.0,
 11692.0,
 11693.0,
 11694.0}

In [133]:
df[:5]

   ZIP_CODE  LAND_SQUARE_FEET  YEAR_BUILT   prop_cat  SALE_PRICE
0   10457.0            1622.0      1899.0  Apartment      458000
1   10457.0            1646.0      1899.0  Apartment      275000
2   10457.0            1694.0      1899.0  Apartment      388500
3   10458.0            1095.0      1910.0      House      110000
4   10458.0            1095.0      1910.0      House      165000

In [151]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics
import numpy as np

In [140]:
le1 = preprocessing.LabelEncoder()
df.prop_cat = le1.fit_transform(df.prop_cat)

/Users/rainyleon/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [186]:
le1.classes_

array(['Apartment', 'House'], dtype=object)

In [141]:
train = df.shape[0] * 0.70

In [142]:
data_Y = df['SALE_PRICE']
data_X = df.drop('SALE_PRICE', axis=1)

In [143]:
train_y = data_Y[:int(train)]
train_X = data_X[:int(train)]
test_X = data_X[int(train):]
test_y = data_Y[int(train):]

In [154]:
regr = RandomForestRegressor(max_depth=50, random_state=0)
regr.fit(train_X, train_y)

/Users/rainyleon/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=50,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [155]:
y_pred = regr.predict(test_X)

In [156]:
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(test_y, y_pred)))

Root Mean Squared Error: 2452696.239815844

In [170]:
df.to_csv("rental_processed.csv", index=False)

In [174]:
from sklearn.externals import joblib
joblib.dump(regr, "random_forest.pkl")

['random_forest.pkl']

In [183]:
test_user = np.array([[10044, 1316, 2001, 1]])

In [189]:
regr.predict(test_user)

array([1878500.])

In [187]:
rf = joblib.load('random_forest.pkl')

In [188]:
rf.predict(test_user)

array([1878500.])