In [157]:
import pandas as pd
import numpy as np

In [158]:
zipcode = '10044'
property_cat = 'apartment'
room_type = 'Private room'
cancellation_policy = "strict_14_with_grace_period"
review = "excellent"
bathrooms = 2
bedrooms = 2
beds = 2

cleaning_fee = 40.0
minimum_nights = 2
extra_people = 0
guests_included = 2
accommodates = 2

In [159]:
# read le
temp = pd.read_csv("./saved-models/zipcode-neigh-dic.csv", header=0)
zip_neigh_dic = dict(zip(temp.zipcode, temp.neighbourhood_cleansed))
neigh = zip_neigh_dic.get(int(zipcode))

temp = pd.read_csv("./saved-models/neighbourhood-le.csv", header=0)
neigh_le = dict(zip(temp.neighbourhood_cleansed, temp.temp))

temp = pd.read_csv("./saved-models/room_type-le.csv", header=0)
room_type_le = dict(zip(temp.room_type, temp.temp))

# availability_30
ava_30 = pd.read_csv("./saved-models/aval_30.csv", header=0)

temp = pd.read_csv("./saved-models/aval_30_zip.csv", header=0)
ava_zip_dic = dict(zip(temp.zipcode, temp.availability_30))

temp = pd.read_csv("./saved-models/cancellation_policy-le.csv", header=0)
cancel_le = dict(zip(temp.cancellation_policy, temp.temp))

temp = pd.read_csv("./saved-models/review_cat-le.csv", header=0)
review_le = dict(zip(temp.review_cat, temp.temp))

temp = pd.read_csv("./saved-models/property_cat-le.csv", header=0)
property_cat_le = dict(zip(temp.property_cat, temp.temp))

In [160]:
# construct user input matrix
input = pd.DataFrame(np.array([neigh]), columns=['neigh'])
input['neigh_encoded'] = input.neigh.apply(lambda x: neigh_le.get(x))

input['room_type'] = np.array([room_type])
input['room_encoded'] = input.room_type.apply(lambda x: room_type_le.get(x))

input['accommodates'] = np.array([accommodates])

input['bathrooms'] = np.array([bathrooms])
input['bedrooms'] = np.array([bedrooms])
input['beds'] = np.array([beds])

input['guests_included'] = np.array([guests_included])

input['cancel'] = np.array([cancellation_policy])
input['cancel_encoded'] = input.cancel.apply(lambda x: cancel_le.get(x))

input['review'] = np.array([review])
input['review_encoded'] = input.review.apply(lambda x: review_le.get(x))

input['property_cat'] = np.array([property_cat])
input['prop_encoded'] = input.property_cat.apply(lambda x: property_cat_le.get(x))

In [161]:
# availability_30
ava_30 = pd.read_csv("./saved-models/aval_30.csv", header=0)

temp = pd.read_csv("./saved-models/aval_30_zip.csv", header=0)
ava_zip_dic = dict(zip(temp.zipcode, temp.availability_30))

In [162]:
ava_temp = ava_30[(ava_30['zipcode'] == zipcode) & (ava_30['bedrooms'] == bedrooms) & (ava_30['beds'] == beds)]
ava_temp
if(temp.empty):
    availability_30 = ava_zip_dic.get(zipcode)
else:
    availability_30 = temp.availability_30.values[0]
    
# input['avail'] = np.array([availability_30])

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [163]:
del input['neigh']
del input['property_cat']
del input['room_type']
del input['cancel']
del input['review']

In [164]:
input = input.append([input]*4,ignore_index=True)
input

,neigh_encoded,room_encoded,accommodates,bathrooms,bedrooms,beds,guests_included,cancel_encoded,review_encoded,prop_encoded
0,171,2,2,2,2,2,2,3,2,0
1,171,2,2,2,2,2,2,3,2,0
2,171,2,2,2,2,2,2,3,2,0
3,171,2,2,2,2,2,2,3,2,0
4,171,2,2,2,2,2,2,3,2,0

In [165]:
# data_X - 10 columns
# input = [
#     ['neighbourhood_cleansed',],
#     ['room_type',]
#     ['accommodates',],
#     ['bathrooms',],
#     ['bedrooms',],
#     ['beds',],
#     ['guests_included',],
#     ['cancellation_policy',],
#     ['review_cat',],
#     ['property_cat',],
# ]

# part1 - 6 columns
# listing_part1 = [
#     ['cleaning_fee'],
#     ['number_of_reviews'],
#     ['host_months'],
#     ['extra_people'],
#     ['minimum_nights'],
#     ['availability_30']
# ]

In [166]:
part1 = pd.DataFrame(np.array([[cleaning_fee]*5, [0,5,10,20,50], [0,2,4,6,8], 
                               [extra_people]*5, [minimum_nights]*5, [availability_30]*5]
                             ).transpose(1, 0),
                   columns=['cleaning_fee', 'number_of_reviews', 'host_months', 'extra_people','minimum_nights','availability_30'])
part1

,cleaning_fee,number_of_reviews,host_months,extra_people,minimum_nights,availability_30
0,40.0,0.0,0.0,0.0,2.0,13.961983
1,40.0,5.0,2.0,0.0,2.0,13.961983
2,40.0,10.0,4.0,0.0,2.0,13.961983
3,40.0,20.0,6.0,0.0,2.0,13.961983
4,40.0,50.0,8.0,0.0,2.0,13.961983

In [168]:
from sklearn.externals import joblib
part1_temp = joblib.load('./saved-models/standardize.pkl').transform(part1)
part1_temp

/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator StandardScaler from version 0.20.3 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

array([[-0.23924041, -0.51343075, -1.83145007, -0.58482721, -0.25292379,
         0.24653892],
       [-0.23924041, -0.41117012, -1.76559426, -0.58482721, -0.25292379,
         0.24653892],
       [-0.23924041, -0.30890949, -1.69973844, -0.58482721, -0.25292379,
         0.24653892],
       [-0.23924041, -0.10438822, -1.63388263, -0.58482721, -0.25292379,
         0.24653892],
       [-0.23924041,  0.50917558, -1.56802682, -0.58482721, -0.25292379,
         0.24653892]])